<% if session[:user] %>
  <h1>Welcome, <%= session[:user] %>
   </h1>

  <h2>Contacts</h2>

 <% if session[:user] %>
    <% @contact_database.each do |person| %>
      <%= person[:name] %>
      <%= person [:email] %>
  <% end %>

  <% if session[:user] %>
      <form action="/logout" method= "post">
        <button> Log Out</button>
        </form>
      <% end %>


<% if session[:user] == nil %>
    <form action ="/login>" method="post">
      <button>Log In to Me!</button>
      </form>
    <% end %>